/*
 *
 * Earlybird
 *
 */
.earlybird {
  position: relative; }
.earlybird:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute; }

.earlybird {
  -webkit-filter: sepia(100%) contrast(100%);
  filter: sepia(100%) contrast(100%); }

